.castWrapper {
    text-align: initial;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
  }
  .nameReal {
    font-weight: 500;
  }
  .item {
    width: 100px;
  }