.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.item{
    width: 250px;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
}

.poster {
    width: 100%;
  }
  .title {
    text-align: center;
    color: rgb(47, 45, 45);
  }
  .link {
    text-decoration: none;
  }